<nav class="pagination is-small is-centered">
	<a href="{{page_url prev}}" class="pagination-previous"{{^if prev}} disabled{{/if}}><i class="inhabitu-chevron-left icon"></i>Newer articles</a>
	<a href="{{page_url next}}" class="pagination-next"{{^if next}} disabled{{/if}}>Older articles<i class="inhabitu-chevron-right icon"></i></a>
	<span class="pagination-list">Page {{page}} of {{pages}}</span>
</nav>