{{!< default}}
{{> index-header}}
<main class="section">
	<div class="content container">
		{{> posts-index}}
	</div>
</main>
<section class="inhabitu-emphasize section">
	<div class="container">
		{{pagination}}
	</div>
</section>
